
.header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.headerlogo
{
    padding: 0.5rem 0 0.5rem 4rem;
}

.headercontact
{
    padding: 0.5rem 4rem 0.5rem 0rem;
}

h1
{
    margin: 0;
    background: linear-gradient(90deg, #cf23cf, rgb(221, 221, 90), #ff6b08,#cf23cf, #cf23cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 2rem;
    font-family: cursive;
}