.intro
{
    background-image: url('https://assets.oakshotels.com/image/upload/q_auto,f_auto/media/minor/oaks/images/australia/queensland/regional/toowoomba/1920x1080/oaks-toowoomba-hotel-two-bedroom-1-1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
}